pre{
    color:white;
}
/* .navbar{
    background-color:rgb(33, 83, 148);
} */
span{
    color:red;
}

/* input{
    border-radius:20px;
    border:1px soild black;
} */
.dropdown{
    display:flex;
    justify-content: center;
    margin-top:10px;
    margin-bottom:10px; 
}
.inp .inpt{
    border-radius: none;
}
table th{
    font-size: 11px;
}
table tr td ul li{
    font-size: 40px;
    
}