<nav class="navbar navbar-expand-sm navbar-dark bg-danger">
    <pre><i class="fa-solid fa-cloud fa-2x"></i> InFlyHealth > Live Monitoring </pre>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <a class="navbar-brand" routerLink="/aero-flot">
          <i class="fa-solid fa-arrow-right-from-bracket fa-1x"></i>
        </a>
      </form>
    </div>
 </nav>
 <div class="container-fluid bg-secondary">
  <div class="header">
    <div class="row">
      <div class="col-sm">
        <div class="dropdown">
          <button class="btn btn1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fa-solid fa-jet-fighter-up m-2"> </i><strong>A7-AMJ</strong>
          </button>
          </div>
         </div>
        </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="d-flex justify-content-center">
            <div class="btn-group" role="group" aria-label="Basic outlined example">
              <button type="button" class="btn btn-outline-info">Overview</button>
              <button type="button" class="btn btn-outline-info" routerLink="/live">Live Monetoring</button>
              <button type="button" class="btn btn-outline-info active text-light" routerLink="/timeline">Timeline</button>
              <button type="button" class="btn btn-outline-info" routerLink="/flights">Flights</button>
              <button type="button" class="btn btn-outline-info" routerLink="/events">Events</button>
           </div>
          </div>
        </div>
      </div>
      <br>
  </div> <!--Header-->
  </div>

  <br>
  <div class="container d-flex justify-content-between">
    <strong><div class="t1 text-dark"><i class="fa-solid fa-rotate text-light m-2"></i>Updated at 11.35 IST</div></strong>
      <strong><div class="t2 text-dark"><i class="fa-solid fa-calendar-days text-light m-2"></i>June 11-June 15(UTC)</div></strong>
  </div>
  <br>
  <div class="container">
    <h5 class="h text-light">TIMELINE</h5>
  
    <div class=" mt-3">   
    <table class="table table-bordered border-light">
        <table class="table table-hover text-light">
          <thead class="t text-light">
            <tr>
              <th></th>
              <th>June 2022<br>Thu 9</th>
              <th>Fri 10</th>
              <th>Sat 11</th>
              <th>Sun 12</th>
              <th>Mon 13</th>
              <th>Tue 14</th>
              <th>Wed 15</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>Flights</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
             
            </tr>
            <tr>
              <td>Bite Offloads</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              
            </tr>
            <tr>
              <td>Open Flight Legs</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              
            </tr>
            <tr>
              <td>Closed Flight Legs</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
             
            </tr>
            <tr>
              <td>Flight Phases</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              
            </tr>
            <tr>
              <td>System Power</td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              <td></td>
              
            </tr>
            <tr>
              <td></td>
              <td>June 2022<br>Thu 9</td>
              <td>Fri 10</td>
              <td>Sat 11</td>
              <td>Sun 12</td>
              <td>Mon 13</td>
              <td>Tue 14</td>
              <td>Wed 15</td>
            </tr>
          </tbody>
        </table>
      
    </table>
  </div>
  
