<nav class="navbar navbar-expand-sm navbar-dark bg-danger">
    <pre><i class="fa-solid fa-cloud fa-2x"></i> InFlyHealth > Live Monitoring </pre>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <a class="navbar-brand" routerLink="/aero-flot">
          <i class="fa-solid fa-arrow-right-from-bracket fa-1x"></i>
        </a>
      </form>
    </div>
</nav>
 <div class="container-fluid bg-secondary">
    <div class="header">
      <div class="row">
        <div class="col-sm">
          <div class="dropdown">
            <button class="btn dropdown-toggle btn1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Aeroflot.svg" style="width:30px;height:30px;">Aero Flot
            </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Air Asia</a></li>
                <li><a class="dropdown-item" href="#">Air Canada</a></li>
                <li><a class="dropdown-item" href="#">Air Caraibes</a></li>
                <li><a class="dropdown-item" href="#">Air China</a></li>
                <li><a class="dropdown-item" href="#">Air France</a></li>
                <li><a class="dropdown-item" href="#">Air India</a></li>
                <li><a class="dropdown-item" href="#">Air Deccan</a></li>
                <li><a class="dropdown-item" href="#">Jet Blue</a></li>
                <li><a class="dropdown-item" href="#">Finnair</a></li>
                <li><a class="dropdown-item" href="#">EVA Air</a></li>
                <li><a class="dropdown-item" href="#">Lufthansa</a></li>
              </ul>
            </div>
           </div>
          </div>
          <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="d-flex justify-content-center">
              <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-info" routerLink="/overview">Overview</button>
                <button type="button" class="btn btn-outline-info">Dashboards</button>
                <button type="button" class="btn btn-outline-info active text-light">Tails</button>
                <button type="button" class="btn btn-outline-info">Recommendations</button>
                <button type="button" class="btn btn-outline-info">Software Configurations</button>
                <button type="button" class="btn btn-outline-info">Charts</button>
             </div>
            </div>
          </div>
        </div>
        </div>
    </div> <!--Header-->
    <br>
    </div>
    <!-- Cards-->
    <div class="container-fluid mt-3">
       <div class="row">
        <div class="col-sm-3">
         <div class="card bg-info">
          <div class="card-body">
            <h6 class="card-title text-light">ALL STATUSES</h6>
            <strong><p class="card-text text-light">21</p></strong>
          </div>
         </div>
        </div>
         <div class="col-sm-3">
           <div class="card bg-light">
             <div class="card-body">
               <h6 class="card-title text-info">GOOD STATUS</h6>
               <strong><p class="card-text">0</p></strong>
             </div>
           </div>
           </div>
           <div class="col-sm-3">
            <div class="card bg-light">
              <div class="card-body">
                <h6 class="card-title text-info">BAD STATUS</h6>
                  <div class="para d-flex justify-content-between">
                   <strong><p class="card-text">0</p>
                   <!-- <p class="card-text">0.0%</p> --></strong>
                  </div>
              </div>
             </div>
            </div>
            <div class="col-sm-3">
              <div class="card bg-light">
                <div class="card-body">
                  <h6 class="card-title text-info">UNKNOWN STATUS</h6>
                  <strong><p class="card-text">21</p></strong>
                </div>
             </div>
            </div>
     

     <div class=" mt-3">         
      <table class="table table-hover text-light">
        <thead class="t text-light">
          <tr>
            <th>STUTAS</th>
            <th>FLEET#</th>
            <th>TAIL</th>
            <th>A/C CONFIG</th>
            <th>IFE PLATFORM</th>
            <th>CONNECTIVITY PLATFORM</th>
            <th>S/W VERSION</th>
            <th>MARKER</th>
            <th>MEL</th>
            <th>SYSTEM RESET</th>
            <th>HEAD-END</th>
            <th>FIRST CLASS</th>
            <th>BUSINESS CLASS</th>
            <th>ECONOMY CLASS</th>
            <th>UPPER ECONOMY</th>
            <th>ACTIONS</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><ul><li class="l text-dark"></li></ul></td>
            <td class="t text-light">--</td>
            <td class="td text-info">A7 AMJ</td>
            <td>A350-900 INNOV</td>
            <td>AVANT</td>
            <td>KA-GX</td>
            <td><i class="fa-solid fa-circle text-warning"></i> 111</td>
            <td>No Status</td>
            <td><button class="btn btn-secondary">No</button></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td class="t text-light">--</td>
            <td><i class="fa-solid fa-pen-to-square fa-1x text-info"></i></td>
          </tr>
          <tr>
            <td><ul><li class="l text-dark"></li></ul></td>
            <td class="t text-light">--</td>
            <td class="td text-info">A7 AMJ</td>
            <td>A350-900 INNOV</td>
            <td>AVANT</td>
            <td>KA-GX</td>
            <td><i class="fa-solid fa-circle text-success"></i>v2520</td>
            <td>No Status</td>
            <td><button class="btn btn-danger">No</button></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td class="t text-light">--</td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td class="t text-light">--</td>
            <td><i class="fa-solid fa-pen-to-square fa-1x text-info"></i></td>
          </tr>
          <tr>
            <td><ul><li class="l text-dark"></li></ul></td>
            <td class="t text-light">--</td>
            <td class="td text-info">A7 AMJ</td>
            <td>A350-900 INNOV</td>
            <td>AVANT</td>
            <td>KA-GX</td>
            <td><i class="fa-solid fa-circle text-dark"></i>v2200</td>
            <td>No Status</td>
            <td><button class="btn btn-secondary">No</button></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td class="t text-light">--</td>
            <td><i class="fa-solid fa-pen-to-square fa-1x text-info"></i></td>
          </tr>
          <tr>
            <td><ul><li class="l text-dark"></li></ul></td>
            <td class="t text-light">--</td>
            <td class="td text-info">A7 AMJ</td>
            <td>A350-900 INNOV</td>
            <td>AVANT</td>
            <td>KA-GX</td>
            <td><i class="fa-solid fa-circle text-warning"></i>v2510</td>
            <td>No Status</td>
            <td><button class="btn btn-secondary">No</button></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td class="t text-light">--</td>
            <td><i class="fa-solid fa-pen-to-square fa-1x text-info"></i></td>
          </tr>
          <tr>
            <td><ul><li class="l text-dark"></li></ul></td>
            <td class="t text-light">--</td>
            <td class="td text-info">A7 AMJ</td>
            <td>A350-900 INNOV</td>
            <td>AVANT</td>
            <td>KA-GX</td>
            <td><i class="fa-solid fa-circle text-warning"></i>v2520</td>
            <td>No Status</td>
            <td><button class="btn btn-secondary">No</button></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td class="t text-light">--</td>
            <td><i class="fa-solid fa-pen-to-square fa-1x text-info"></i></td>
          </tr>
          <tr>
            <td><ul><li class="l text-dark"></li></ul></td>
            <td class="t text-light">--</td>
            <td class="td text-info">A7 AMJ</td>
            <td>A350-900 INNOV</td>
            <td>AVANT</td>
            <td>KA-GX</td>
            <td><i class="fa-solid fa-circle text-warning"></i>111</td>
            <td>No Status</td>
            <td><button class="btn btn-secondary">No</button></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td><ul><li class="l text-light"></li></ul></td>
            <td class="t text-light">--</td>
            <td><i class="fa-solid fa-pen-to-square fa-1x text-info"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
    </div>
