<div class="row">
    <div class="col-sm-4 offset-sm-1 mt-5">
      <div class="container mt-5 p-3 main">
        <h2>SignUp</h2>
        <form [formGroup]="signupForm" (ngSubmit)="signUp()">
          <div class="form-group mb-3 mt-3">
            <label>Full Name:</label>
            <input type="text" class="form-control" formControlName="username"
                placeholder="Enter your Name" name="username" required>
                <span class="text-danger" *ngIf="signupForm.controls['username'].dirty && signupForm.hasError('required','username')">Fullname is required</span>
          </div>
          <div class="form-group mb-3">
            <label>EmailId:</label>
            <input type="email" class="form-control" formControlName="email"
                placeholder="Enter your EmailId" name="email" required>
                <span class="text-danger" *ngIf="signupForm.controls['email'].dirty && signupForm.hasError('required','email')">EmailId is required</span>
          </div>
          <div class="form-group mb-3">
            <label>Password:</label>
            <input type="password" class="form-control" formControlName="pwd"
                placeholder="Enter password" name="pwd" required>
                <span class="text-danger" *ngIf="signupForm.controls['pwd'].dirty && signupForm.hasError('required','pwd')">Password is required</span>
          </div>
          <div class="form-group mb-3">
            <label>Mobile No:</label>
            <input type="text" class="form-control" formControlName="mobile"
                placeholder="Enter your Mobile Number" name="mobile" required>
                <span class="text-danger" *ngIf="signupForm.controls['mobile'].dirty && signupForm.hasError('required','mobile')">Mobile Number is required</span>
          </div>
           <button type="submit" [disabled]="!signupForm.valid" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
    </div>