<div class="main">
 <nav class="navbar navbar-expand-sm navbar-dark bg-danger">
    <pre><i class="fa-solid fa-cloud fa-2x"></i> InFlyHealth > Live Monitoring </pre>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="mynavbar">
      <ul class="navbar-nav me-auto">
      </ul>
      <form class="d-flex">
        <input class="form-control me-2" type="text" placeholder="Search">
        <a class="navbar-brand" routerLink="/dashboard">
          <i class="fa-solid fa-arrow-right-from-bracket fa-1x"></i>
        </a>
      </form>
    </div>
</nav>
 <div class="container-fluid bg-secondary">
    <div class="header">
      <div class="row">
        <div class="col-sm">
          <div class="dropdown">
            <button class="btn dropdown-toggle btn1" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
              <img src="https://upload.wikimedia.org/wikipedia/commons/5/55/Aeroflot.svg" style="width:30px;height:30px;">Aero Flot
            </button>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                <li><a class="dropdown-item" href="#">Air Asia</a></li>
                <li><a class="dropdown-item" href="#">Air Canada</a></li>
                <li><a class="dropdown-item" href="#">Air Caraibes</a></li>
                <li><a class="dropdown-item" href="#">Air China</a></li>
                <li><a class="dropdown-item" href="#">Air France</a></li>
                <li><a class="dropdown-item" href="#">Air India</a></li>
                <li><a class="dropdown-item" href="#">Air Deccan</a></li>
                <li><a class="dropdown-item" href="#">Jet Blue</a></li>
                <li><a class="dropdown-item" href="#">Finnair</a></li>
                <li><a class="dropdown-item" href="#">EVA Air</a></li>
                <li><a class="dropdown-item" href="#">Lufthansa</a></li>
              </ul>
            </div>
           </div>
          </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="d-flex justify-content-center">
              <div class="btn-group" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-info" routerLink="/overview">Overview</button>
                <button type="button" class="btn btn-outline-info">Dashboards</button>
                <button type="button" class="btn btn-outline-info" routerLink="/tails">Tails</button>
                <button type="button" class="btn btn-outline-info">Recommendations</button>
                <button type="button" class="btn btn-outline-info">Software Configurations</button>
                <button type="button" class="btn btn-outline-info">Charts</button>
             </div>
            </div>
          </div>
        </div>
        <br>
    </div> <!--Header-->
    </div>
    <div class="container">
    <br>
    <div class="container d-flex justify-content-between">
      <strong><div class="t1 text-dark"><i class="fa-solid fa-rotate text-light m-2"></i>Updated at 11.35 IST</div></strong>
      <strong><div class="t2 text-dark"><i class="fa-solid fa-calendar-days text-light m-2"></i>June 11-June 15(UTC)</div></strong>
    </div>
    <br>
    <div class="container">
      <h6>KEY METRICS</h6>
    </div>
    </div>
    <br>

   <div class="container">
     <div class="row">
      <div class="col-sm-5">
       <div class="card" style="width: 25rem;">
        <div class="card-header d-flex justify-content-between bg-secondary">
         <div class="p1 text-light">BITE Coverage </div>
         <div class="p2 text-light">21</div>
        </div>
            <div class="card-body">
              <h5 class="card-title">TOTAL PERCENTAGE</h5>
              <div class="row">
               <span><h4 class="col">0.0</h4></span>
                
              </div>
            
            <div class="row">
              <div class="col">FLIGHTS</div>
              <div class="col">MATCHING</div>
              <div class="col">MISSING</div>
            </div>
            <br>
            <div class="row">
                <div class="col">67</div>
                <div class="col">0</div>
                <div class="col">67</div>
            </div>
            </div>
      </div>
     </div>

     <div class="col-sm-5">
       <div class="card" style="width: 25rem;">
        <div class="card-header d-flex justify-content-between bg-secondary">
          <div class="p1 text-light">BITE Coverage </div>
          <div class="p2 text-light">21</div>
         </div>
            <div class="card-body" >
              <h5 class="card-title">TOTAL PERCENTAGE</h5>
              <div class="row">
               <span><h4 class="col">0.0</h4></span>
              </div>
             <div class="row">
               <div class="col">FLIGHTS</div>
               <div class="col">MATCHING</div>
               <div class="col">MISSING</div>
             </div>
             <br>
             <div class="row">
                <div class="col">67</div>
                <div class="col">0</div>
                <div class="col">67</div>
             </div>
          </div>
      </div>
   </div>
  </div>
</div>
<nav class="navbar navbar-expand-sm bg-light navbar-dark fixed-bottom">
  <div class="container-fluid">
    <p class="para text-dark">Get Connected with us on social networks...</p>
    <div class="col-sm-2 d-flex justify-content-around">
      <i class="fa-brands fa-facebook-f"></i>
      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-google"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i>
      <i class="fa-brands fa-github"></i>
    </div>
  </div>
</nav>


<!-- <div class="container-fluid">
  <div class="footer">
    <div class="row">
      <div class="col-sm-6">Get Connected with us on social networks...</div>

      <div class="col-sm-4 d-flex justify-content-around"><i class="fa-brands fa-facebook-f"></i>
                      <i class="fa-brands fa-twitter"></i>
      <i class="fa-brands fa-google"></i>
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-linkedin"></i></div>
    </div>
  </div>
</div> -->
</div>





